*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey700: hsl(0, 0%, 20%);
    --grey800: hsl(0, 0%, 12%);
    --grey900: hsl(0, 0%, 8%);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 600px;
    background: var(--grey900);
}
.con{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    background: var(--grey800);
}
.con > div{
    margin: 10px;
    width: 90%;
}
.myimage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.myimage img{
    border-radius: 50%;
    object-fit: cover;
}
.myinfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--white);
}
.myinfo p.name{
    font-size: 14px;
    font-weight: 500;
    letter-spacing:0.5px;
}
.myinfo p.city{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 9px;
    font-weight: 500;
    color: var(--green);
}
.myinfo p.comment{
    font-size: 10px;
}
.mycon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mycon a{
    display: block;
    padding: 5px;
    margin: 5px;
    height: auto;
    font-size: 14px;
    width: 90%;
    color: var(--white);
    text-align: center;
    text-decoration:none;
    border-radius: 5px;
    transition: 0.5s all ease;
    background: var(--grey700);
}
.mycon a:hover{
    color: var(--grey700);
    background: var(--green);
}